$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$textColor: white;
$backgroundbody: #659a01;
$bordercolor: #feffff;
$hcolor: #ffcd10;
$contentBack: #666701;
$tableColor: #94a34e;
$tableBack: #677d01;
$briefwidth: 90%;
$briefFloat: none;
$briefBack: #677d01;
$briefMargin: 2% auto;
$aColor: $hcolor;
$thborder: none;