$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$textColor: black;
$backgroundbody: #ddbc9b;
$bordercolor: #8b3d00;
$hcolor: #873c03;
$contentBack: white;
$tableColor: #e0e0e0;
$tableBack: white;
$briefwidth: 35%;
$briefFloat: left;
$briefBack: #fadcba;
$briefMargin: 0 2% 2% 0;
$aColor: blue;
$thborder: 2px solid $contentBack;